{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Восстановление пароля!</h1>  <br>	
	{% if mail != 'none' %}
	
	<p>{{ mail }}</p>  	<br><br>
	<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
	
	{% else %}	
		{% if forget_password != 'none' %}
		<div class="sign">		
			<form method="post" action="/forget_password/" class="sign_in">
			
				<input type="hidden" name="login" id="login" value="{{ login }}">
				<input type="hidden" name="old_password" id="old_password" value="{{ old_password }}">
				<input type="hidden" name="forget" id="forget" value="yes">
				
				<h1>Замена пароля!</h1>  <br>
				
				<label>Пароль</label><br>
				<input type="password" placeholder="Введите новый пароль" name="new_password" id="new_password" maxlength="100"><br><br>	
				
				<label>Повторите пароль</label><br>
				<input type="password" placeholder="Повторите пароль" name="new_password2" id="new_password2" maxlength="100"><br><br>
					
				{% if fail != 'none' %} 
				<br><label style="color:red;">{{ fail }}</label><br>
				{% else %}	
				<br><br>
				{% endif %}		
				
				<div align="center">
					<button type="submit" class="btn btn-primary">Отправить</button>
				</div><br>			
				<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
			</form>			
		</div>
		{% else %}	
		<div class="sign">		
			<form method="post" class="sign_in">
				<h1>Восстановление пароля!</h1>  <br>
				<label>Введите email</label><br>
				<input type="text" placeholder="Email" name="email" id="email" maxlength="100"><br><br>
					
				{% if fail != 'none' %} 
				<br><label style="color:red;">{{ fail }}</label><br>
				{% else %}	
				<br><br>
				{% endif %}		
				
				<div align="center">
					<button type="submit" class="btn btn-primary">Отправить</button>
				</div><br>			
				<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
			</form>			
		</div>
		{% endif %}	
		
	{% endif %}	
</div>

{% endblock %}



{% block content %}
 

{% endblock %}
