{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Личный кабинет!</h1>  
	{% if user != 'none' %}
		
		<br>
		<p>Здравствуйте <strong>{{ user.login }}</strong>.</p>
		
		<p>Это Ваш личный кабинет, Вы авторизованный пользователь.</p>
		
		<p>Как авторизованному пользователю Вам доступна скидка 30% на все товары и услуги этого сайта по промокоду - <span style="color:blue;">{{ user.promo }}</span> -.</p>

		<p>Скидка действует до 1.01.2021. Не упустите свой шанс!</p>

		<!-- <p>При заказе товара в магазине ХуторянинЪ Вам достаточно раз указать Ваш почтовый адрес и он сохранится, а при желании его всегда можно будет тут подкорректировать. Так же Вы можете здесь сменить пароль и email.</p> -->
				
		<br>
		<form method="get" action="/forget_password/">
			<input type="hidden" name="login" id="login" value="{{ user.login }}">
			<input type="hidden" name="old_password" id="old_password" value="{{ user.password }}">
			<!-- Ваш пароль: * * * *  -->

			<button type="submit" class="btn btn-outline-warning">Сменить пароль</button><br>
		</form>
		<br>

		<p>Ваш email: {{ user.email }} 
			<!-- <a href="#" class="btn btn-outline-success">Заменить</a> -->
		</p>


		<!-- {% if user.adress != 'none' %}
		<p>Ваш адрес: {{ user.adress }} <a href="#" class="btn btn-outline-success">Заменить</a></p> <br><br>
		{% else %}	
		<p>Ваш адрес: НЕ УКАЗАН <a href="#" class="btn btn-outline-success">Заменить</a>
		<br>
		<span style="color:lightgrey;">укажите Ваш почтовый адрес для доставки товаров<span>
		</p> 
		<br><br>
		{% endif %}	 -->

		<br>
		<a href="/exit" class="btn btn-outline-violet">Выход</a>

	{% else %}	
	<div class="sign">
		
		<form method="post" class="sign_in">
			<h1>Вход!</h1>  <br>
			<label>Логин</label><br>
			<input type="text" placeholder="Введите логин" name="login" id="login" {% if fail != 'none' %} value="{{ login }}" {% endif %} maxlength="100"><br><br>
			
			<label>Пароль</label><br>
			<input type="password" placeholder="Введите пароль" name="password" id="password" maxlength="100"><br>

			{% if fail != 'none' %} 
			<br><label style="color:red;">{{ fail }}</label><br>
			{% else %}	
			<br><br>
			{% endif %}						
			
			<div align="center">
				<button type="submit" class="btn btn-primary">Войти</button>
			</div><br><br>
			<a href="/forget_password" style="color:blue;">Забыли пароль?</a>			
			<br><br><br>
			<a href="/registration" style="color:green;">РЕГИСТРАЦИЯ!</a>
			<br><br><br>
			<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
		</form>	
		
	</div>
	{% endif %}	
</div>

{% endblock %}



{% block content %}
 

{% endblock %}
