{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Личный кабинет!</h1>  
	{% if user != 'none' %}

		<p>Здравствуйте {{ user.login }}.</p> <br><br>
		<p>Ваш email: {{ user.email }} <a href="#" class="btn btn-outline-success">Заменить</a></p>
		{% if user.adress != 'none' %}
		<p>Ваш адрес: {{ user.adress }} <a href="#" class="btn btn-outline-success">Заменить</a></p> <br><br>
		{% else %}	
		<p>Ваш адрес: НЕ УКАЗАН <a href="#" class="btn btn-outline-success">Заменить</a></p> 
		<p>укажите Ваш почтовый адрес для возможности доставки заказанных Вами товаров на сайте ХуторянинЪ</p>
		<br><br>
		{% endif %}	
		<a href="/exit" class="btn btn-outline-violet">Выход</a>

	{% else %}	
	<div class="sign">
		
		<form method="post" class="sign_in">
			<h1>Вход!</h1>  <br>
			<label>Логин</label><br>
			<input type="text" placeholder="Введите логин" name="login" id="login" {% if fail != 'none' %} value="{{ login }}" {% endif %} maxlength="100"><br><br>
			
			<label>Пароль</label><br>
			<input type="password" placeholder="Введите пароль" name="password" id="password" maxlength="100"><br>

			{% if fail != 'none' %} 
			<br><label style="color:red;">{{ fail }}</label><br>
			{% else %}	
			<br><br>
			{% endif %}						
			
			<div align="center">
				<button type="submit" class="btn btn-primary">Войти</button>
			</div><br>
			<a href="/forget_password" style="color:blue;">Забыли пароль?</a>			
			<br><br>
			<a href="/registration" style="color:green;">Зарегистрироваться</a><br><br>
			<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
		</form>	
		
	</div>
	{% endif %}	
</div>

{% endblock %}



{% block content %}
 

{% endblock %}
