{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Регистрация!</h1>  
	
	<div class="sign">
		
		<form method="post" class="sign_in">
			<h1>Регистрация!</h1>  
			<label>Введите логин</label>
			<input type="text" placeholder="Логин" name="login" id="login" maxlength="100"><br><br>
			
			<label>Введите пароль</label>
			<input type="text" placeholder="Пароль" name="password" id="password" maxlength="100"><br><br>
			
			
			<div align="center">
				<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
			</div><br>
			
			<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
		</form>	
		
	</div>
	
</div>

{% endblock %}



{% block content %}
 

{% endblock %}
