{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Регистрация!</h1>  
	{% if mail != 'none' %}

	<p>{{ mail }}</p>  
	<a href="/" class="btn btn-outline-danger">На главную страницу!</a>

	{% else %}	
	<div class="sign">		

		<form method="post" class="sign_in">
			<h1>Регистрация!</h1>  <br>
			<label>Логин</label><br>
			<input type="text" placeholder="Введите логин" name="login" id="login" {% if fail != 'none' %} value="{{ login }}" {% endif %} maxlength="100"><br><br>		
			<!--<label>Введите пароль</label>
			<input type="text" placeholder="Пароль" name="password" id="password" maxlength="100"><br><br>-->			
			<label>Email</label><br>
			<input type="text" placeholder="Введите email" name="email" id="email" {% if fail != 'none' %} value="{{ email }}" {% endif %} maxlength="100"><br>
			<!--<label>Почтовый адрес</label><br>
			<input type="text" placeholder="Введите почтовый адрес с индексом" name="adress" id="adress"  maxlength="200">	<br>-->
			
			{% if fail != 'none' %} 
			<br><label style="color:red;">{{ fail }}</label><br><br>
			{% else %}	
			<br><br><br>
			{% endif %}		

			<div align="center">
				<button type="submit" class="btn btn-primary submit_sendmail">Зарегистрироваться</button> 
			</div><br>			
			<a href="/" class="btn btn-outline-danger">На главную страницу!</a>
		</form>			

	</div>
	{% endif %}	
</div>

{% endblock %}



{% block content %}
 

{% endblock %}
