{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">


  <h1 class="display-4">Категория "{% block category %}{% endblock %}"!</h1>
   
  {% block category_text %}{% endblock %}
  
  
  <p class="lead">Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
  <p class="lead">Вернуться <a class="btn btn-outline-primary" onclick="javascript:history.back(); return false;">назад</a></p>  
</div>
{% endblock %}

{% block content %}
<div class="card-deck mb-3 text-center">     

	<!------------------------------------>

	<div class="card mb-4 shadow-sm">
      <div class="card-header">	  
	  
		<h4 class="my-0 font-weight-normal">{% block name1 %}{% endblock %}</h4>		
		
      </div>
      <div class="card-body">	  		
	  
		{% block photo1 %}{% endblock %}		
		
      </div>
	  <div class="card-header">
		
		<a class="btn btn-success" href="{% block link1 %}{% endblock %}">Описание</a>
		
      </div>
	  <div class="card-header">     
		
		<a class="btn btn-outline-danger" href="{% block order_link1 %}{% endblock %}">ОФОРМИТЬ ЗАКАЗ</a>
		
      </div>
    </div>	
	
	<!------------------------------------>
	
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
      
		<h4 class="my-0 font-weight-normal">{% block name2 %}{% endblock %}</h4>
		
      </div>
      <div class="card-body">	  
		
		{% block photo2 %}{% endblock %}
		
      </div>
	  <div class="card-header">
        <a class="btn btn-success" href="{% block link2 %}{% endblock %}">Описание</a>
      </div>
	  <div class="card-header">
        <a class="btn btn-outline-danger" href="{% block order_link2 %}{% endblock %}">ОФОРМИТЬ ЗАКАЗ</a>
      </div>
    </div>	
	
	<!------------------------------------>
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
      
		<h4 class="my-0 font-weight-normal">{% block name3 %}{% endblock %}</h4>
		
      </div>
      <div class="card-body">	  
		
		{% block photo3 %}{% endblock %}
		
      </div>
	  <div class="card-header">
        <a class="btn btn-success" href="{% block link3 %}{% endblock %}">Описание</a>
      </div>
	  <div class="card-header">
        <a class="btn btn-outline-danger" href="{% block order_link3 %}{% endblock %}">ОФОРМИТЬ ЗАКАЗ</a>
      </div>
    </div>		
	
	<!------------------------------------>
	
</div>
  
{% endblock %}

