{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Формирование заказа</h1>
  
  <p class="lead">Этот товар/услугу можно преобрести только по предварительному заказу.</p>
  
  <p class="lead">Для этого напишите в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
  <p class="lead">Вернуться <a class="btn btn-outline-primary" onclick="javascript:history.back(); return false;">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

  
{% endblock %}


