{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
  <h1>Формирование заказа</h1>
  
  <!--<p class="lead">Этот товар/услугу можно преобрести только по предварительному заказу.</p>-->
  {% if product == "site" %}
	<p>Сайт можно преобрести только по предварительному заказу.</p>
  {% else %}	
	{% if product == "tgbot" %}	
		<p>Бота можно преобрести только по предварительному заказу.</p>
	{% else %}		
		{% if product == "android" %}		
			<p>Приложение можно преобрести только по предварительному заказу.</p>		
		{% else %}
			<p>Этот товар/услугу можно преобрести только по предварительному заказу.</p>
		{% endif %}	
	{% endif %}			
  {% endif %}
  
  <p>Все вопросы в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
  <p>Вернуться <a class="btn btn-outline-primary" onclick="javascript:history.back(); return false;">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

  
{% endblock %}


