{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Товары от Хуторянина!</h1>  
	<p>Здесь Вы можете выбрать товар или услугу.</p>  
	<p>Ручная и умственная работа от Хуторянина. Выберайте категорию.</p>  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
</div>

{% endblock %}

{% block content %}

<div class="contain">
	<div class="box">
		<h2 class="name">Кованые ножи</h2>
		<a class="btn btn-primary buy" href="/products/knives">Посмотреть</a>
		<a href="/products/knives">
			<img class="product" src="{% static 'products/knives/knives.png'%}" alt="knives" width="100%">
		</a>
	</div>
</div>

<div class="contain">
	<div class="box">
		<h2 class="name">Приложения</h2>
		<a class="btn btn-primary buy" href="/products/applications">Посмотреть</a>
		<a href="/products/applications">
			<img class="product" src="{% static 'products/applications/applications.jpg'%}" alt="applications" width="100%">
		</a>
	</div>
</div>

<div class="contain">
	<div class="box">
		<h2 class="name">Ложки д/мёда</h2>
		<a class="btn btn-primary buy" href="/products/spoons">Посмотреть</a>
		<a href="/products/spoons">
			<img class="product" src="{% static 'products/spoons/spoons.jpg'%}" alt="spoons" width="100%">
		</a>
	</div>
</div>
<!-- 
<div class="contain">
	<div class="box">
		<h2 class="name">Подсвечники</h2>
		<a class="btn btn-primary buy" href="/products/candlesticks">Посмотреть</a>
		<a href="/products/candlesticks">
			<img class="product" src="{% static 'products/candlesticks/candlesticks.jpg'%}" alt="candlesticks" width="100%">
		</a>
	</div>
</div>

<div class="contain">
	<div class="box">
		<h2 class="name">Пусто</h2>
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
		<img class="product" src="{% static 'logo3.png'%}" alt="" width="100%">
	</div>
</div> 		

<div class="contain">
	<div class="box">
		<h2 class="name">Пусто</h2>
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
		<img class="product" src="{% static 'logo3.png'%}" alt="" width="100%">
	</div>
</div> -->
  
{% endblock %}


