{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Товары от Хуторянина!</h1>
  
  <p class="lead">Здесь Вы можете выбрать товар или услугу.</p>
  
  <p class="lead">Ручная и умственная работа от Хуторянина. Выберайте категорию.</p>
  
  <p class="lead">Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
</div>

{% endblock %}

{% block content %}

<div class="card-deck mb-3 text-center">
		
	<div class="card mb-4 shadow-sm container">
		
      <div class="box">	  
		<h2 class="name">Приложения</h2>
		<a class="btn btn-primary buy" href="/products/applications">Посмотреть</a>
		<img class="mb-2 product" src="{% static 'products/applications/applications.jpg'%}" alt="" width="100%">
	  </div>	  
	  
    </div>	
  
    <div class="card mb-4 shadow-sm container">     
      <div class="box">	  
		<h2 class="name">Кованые ножи</h2>
		<a class="btn btn-primary buy" href="/products/knives">Посмотреть</a>
		<img class="mb-2 product" src="{% static 'products/knives/knives.jpg'%}" alt="" width="100%">	
      </div>
    </div>
	
    <div class="card mb-4 shadow-sm container">      
      <div class="box">	  
		<h2 class="name">Ложки д/мёда</h2>
		<a class="btn btn-primary buy" href="/products/spoons">Посмотреть</a>
		<img class="mb-2 product" src="{% static 'products/spoons/spoons.jpg'%}" alt="" width="100%">		
      </div>	  
    </div>
	
	<div class="card mb-4 shadow-sm container">      
      <div class="box">	  
		<h2 class="name">Подсвечники</h2>
		<a class="btn btn-primary buy" href="/products/candlesticks">Посмотреть</a>
			<img class="mb-2 product" src="{% static 'products/candlesticks/candlesticks.jpg'%}" alt="" width="100%">
      </div>
    </div>
			
	<!--<div class="card mb-4 shadow-sm container">	
      <div class="box">	  
		<h2 class="name">Пусто</h2> 		
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
        <img class="mb-2 product" src="{% static 'logo3.png'%}" alt="" width="100%">		
      </div>
    </div> -->
		
	<!-- -->
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пусто</h4>
      </div>
      <div class="card-body">	  
		<a href="#">
			<img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
		</a>		
      </div>
	  <div class="card-header">
        <button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
      </div>
    </div>	 
	
	<!-- -->
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пусто</h4>
      </div>
      <div class="card-body">	  
		<a href="#">
			<img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
		</a>		
      </div>
	  <div class="card-header">
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
      </div>
    </div>	 
	
</div>
  
{% endblock %}


