{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Товары от Хуторянина!</h1>
  
  <p class="lead">Здесь Вы можете выбрать товар или услугу.</p>
  
  <p class="lead">Ручная и умственная работа от Хуторянина. Выберайте понравившийся товар или услугу нажав на изображение, сайт перенаправит Вас на страницу формирования заказа.</p>
  
  <p class="lead">Все возникающие вопросы направляйте в <a href="/support">тех.поддержку</a>.</p>
  
</div>

{% endblock %}

{% block content %}

<div class="card-deck mb-3 text-center">
  
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ножи /<br> Knifes</h4>
      </div>
      <div class="card-body">
	  
		<a href="/shop/knife">
			<img class="mb-2" src="{% static 'knifes.jpg'%}" alt="" width="100%">	
		</a>		
		
      </div>
    </div>
	
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ложки /<br> Spoons</h4>
      </div>
      <div class="card-body">
	  
		<a href="/shop/spoon">
			<img class="mb-2" src="{% static 'spoon.jpg'%}" alt="" width="100%">
		</a>
		
      </div>
    </div>
	
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Подсвечники /<br> Candlesticks</h4>
      </div>
      <div class="card-body">
	  
		<a href="/shop/candlestick">
			<img class="mb-2" src="{% static 'candlestick.jpg'%}" alt="" width="100%">
		</a>
		
      </div>
    </div>
	
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Приложения /<br> Applications</h4>
      </div>
      <div class="card-body">
	  
		<a href="/shop/candlestick">
			<img class="mb-2" src="{% static 'bot.jpg'%}" alt="" width="100%">
		</a>
		
      </div>
    </div>	
		
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пусто /<br> Empty</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
		
      </div>
    </div>
	
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пусто /<br> Empty</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
		
      </div>
    </div>
	
</div>
  
{% endblock %}


