{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

  <h1>Акции от Хуторянина!</h1>


  <br>
  <hr>
  <br>

  <br><br><br>
  <h2>Действующие акции</h2>
  
  <div>
    <br><hr><br>
    
    <p>С <strong class="b">17.02.2021</strong> стартует акция <b class="r">"ФЕВРАЛЬСКАЯ"</b>, в которой будет разыгран <strong class="r">один нож</strong> и утешительные призы - ложка для мёда, катушка с нитками и <strong class="r">скидка 30% на любой товар</strong> из магазина этого сайта.</p>

    <br>
    
    <p>Для участия в розыгрыше "Ножа <strong class="g">Оранжевая Пчела</strong>" необходимо быть зарегистрированным на сайте <a href="https://hutoryanin.ru">ХуторянинЪ</a> и в одной из своих соц.сетей (ВКонтакте, Инстаграм, Одноклассники) опубликовать ссылку на этот сайт: "<strong class="g">www.hutoryanin.ru</strong>".</p>

    <p>А ссылку на Ваш пост в соц.сети опубликовать на Ютуб-канале <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank" rel="noopener noreferrer">ХуторянинЪ</a> в комментариях под последним вышедшим видео (<strong class="g"><a href="https://youtu.be/aj6PdZuVyBY">Акция Февральская</a></strong>).</p>

    <p>Незабудьте указать в комментариях Ваш логин, указаный при регистрации на этом сайте.</p>

    <p>Удачи!</p>

    <br>
    
    <p>Розыгрыш призов состоится <strong class="r">5го марта</strong> 2021го года.</p>

    <!-- <p><a class="btn btn-primary"  href="/promo/result">Подведение итогов!</a></p> -->

  </div>

  <div>
    <br><hr><br>
    
    <p>C <strong class="b">01.01.2021</strong> действует акция <b class="r">"КТО НА НОВЕНЬКОГО"</b> в которой всем зарегистрированным на сайте пользователям будет доступна по промокоду скидка <strong class="r">10%</strong> на все товары и услуги.</p>

    <p>После регистрации Вам будет выдан <strong>ПРОМО-КОД</strong>, который необходимо указать при покупке.</p>
  </div>
  

  <br>
  <hr>
  <br>

  <br><br><br>
  <h2>Прошедшие акции</h2>

  <div>
    <br><hr><br>
    
    <p>С <strong class="b">08.01.2021</strong> стартовала акция <b class="r">"ЯНВАРСКАЯ"</b>, в которой был разыгран <strong class="r">один нож</strong> и утешительный приз - <strong class="r">скидка 30% на любой товар</strong> из магазина этого сайта.</p>

    <br>
    
    <p>Для участия в розыгрыше "Ножа <strong class="g">Синяя Пчела</strong>" необходимо было зарегистрироваться на сайте, получить индивидуальный <strong>ПРОМО-КОД</strong> и его вместе со своим логином (указанном при регистрации) на ютуб-канале <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank" rel="noopener noreferrer">ХуторянинЪ</a> оставить в  комментарии под последним опубликованным видео.</p>

    <br>
    
    <p>Розыгрыш призов состоялся <strong class="r">1го февраля</strong> 2021го года.</p>

    <!-- <p><a class="btn btn-primary"  href="/promo/result">Подведение итогов!</a></p> -->

  </div>
  
  <div>
    <br><hr><br>
    
    <p>С <strong class="b">01.12.2020</strong> стартовала акция <b class="r">"ОТКРЫТИЕ"</b>, в которой был разыгран <strong class="r">один нож</strong>, комплект из <strong class="r">трёх ложек</strong> для мёда и утешительный приз - <strong class="r">скидка 50% на любой товар</strong> из магазина этого сайта.</p>

    <p><strong class="r">Для участия в акции</strong> Вам необходимо было в одной из своих соц.сетей (ВКонтакте, Инстаграм, Одноклассники) опубликовать ссылку на этот сайт: "<strong class="g">www.hutoryanin.ru</strong>".</p>

    <p>А ссылку на Ваш пост в соц.сети опубликовать на Ютуб-канале <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank" rel="noopener noreferrer">ХуторянинЪ</a> в комментариях под последним вышедшим видео (<strong class="g">Дарю подарки</strong>).</p>
    
    <br>
    
    <p>Для участия в розыгрыше главного приза - "Ножа <strong class="g">Зелёная Пчела</strong>" необходимо было зарегистрироваться на сайте, получить индивидуальный <strong>ПРОМО-КОД</strong> и его вместе со своим логином (указанном при регистрации) так же на ютуб-канале <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank" rel="noopener noreferrer">ХуторянинЪ</a> оставить в  комментарии под последним опубликованным видео.</p>

    <br>
    
    <p>Розыгрыш призов состоялся <strong class="r">21го декабря</strong> 2020го года.</p>

    <!-- <p><a class="btn btn-primary"  href="/promo/result">Подведение итогов!</a></p> -->
  </div>
  
  <div>
    <br><hr><br>

    <p>Так же с <strong class="b">01.12.2020</strong> стартовала акция <b class="r">"НОВОГОДНЯЯ"</b> в которой всем зарегистрированным <strong class="r">до 31го декабря</strong> 2020го года на сайте пользователям была доступна по промокоду скидка <strong class="r">30%</strong> на все товары и услуги.</p>

    <p>После регистрации Вам был выдан <strong>ПРОМО-КОД</strong>, который необходимо было указать при покупке.</p>

  </div>

  <div>
    <br><hr><br>
    
    <p>Следите за обновлениями в новостной ленте телеграм канала <a class="btn btn-primary" href="https://t.me/hutor_yanin" target="_blank">ХуторянинЪ</a></p>
    
    <p>А такж же на ютуб-канале <a class="btn btn-danger"  href="https://youtube.com/c/ХуторянинЪ" target="_blank" rel="noopener noreferrer">ХуторянинЪ</a></p>
  </div>
  
</div>

{% endblock %}

{% block content %}
 
<div class="image">	
        <img class="img50" src="{% static 'logo.png'%}" alt="">		
        <h4 class="caption-two">Акция /<br> Promo</h4>		
</div>	


{% endblock %}





