{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

  <h1>Акции от Хуторянина!</h1>

  <br>
  <hr>
  <br>
  
  <p>С <strong class="b">1.12.2020</strong> стартует акция <b class="r">"ОТКРЫТИЕ"</b>, в которой будет разыгран <strong class="r">один нож</strong>, комплект из <strong class="r">трёх ложек</strong> для мёда и утешительный приз - <strong class="r">скидка 50% на любой товар</strong> из магазина этого сайта.</p>

  <p><strong class="r">Для участия в акции</strong> Вам необходимо в одной из своих соц.сетей (ВКонтакте, Инстаграм, Одноклассники) опубликовать ссылку на этот сайт: "<strong class="g">www.hutoryanin.ru</strong>".</p>

  <p>А ссылку на Ваш пост в соц.сети опубликовать на Ютуб-канале <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank">ХуторянинЪ</a> в комментариях под последним вышедшим видео (<strong class="g">Дарю подарки</strong>).</p>

  
  <br>
  
  <p>Для участия в розыгрыше главного приза - "Ножа <strong class="g">Зелёная Пчела</strong>" необходимо зарегистрироваться на сайте, получить индивидуальный <strong>ПРОМО-КОД</strong> и его вместе со своим логином (указанном при регистрации) так же на ютуб-канале <a class="btn btn-outline-danger" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank">ХуторянинЪ</a> оставить в  комментарии под последним опубликованным видео.</p>

  <br>
  
  <p>Розыгрыш призов состоится <strong class="r">21го декабря</strong> 2020го года.</p>

  <p><a class="btn btn-primary"  href="/promo/result">Подведение итогов!</a></p>
  
  <br>
  <hr>
  <br>

  <p>Так же с <strong class="b">1.12.2020</strong> стартует акция <b class="r">"НОВОГОДНЯЯ"</b> в которой всем зарегистрированным <strong class="r">до 31го декабря</strong> 2020го года на сайте пользователям будет доступна по промокоду скидка <strong class="r">30%</strong> на все товары и услуги.</p>

  <p>После регистрации Вам будет выдан <strong>ПРОМО-КОД</strong>, который необходимо указать при покупке.</p>

  <br>
  <hr>
  <br>  
  
  <p>Следите за обновлениями в новостной ленте телеграм канала <a class="btn btn-primary" href="https://t.me/hutor_yanin" target="_blank">ХуторянинЪ</a></p>
  
  <p>А такж же на ютуб-канале <a class="btn btn-danger"  href="https://youtube.com/c/ХуторянинЪ" target="_blank" rel="noopener noreferrer">ХуторянинЪ</a></p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="image">	
        <img class="img50" src="{% static 'logo.png'%}" alt="">		
        <h4 class="caption-two">Акция /<br> Promo</h4>		
</div>	


{% endblock %}





