{% load static %}

<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>СЕМЬЯНИКА!</title>
	<meta name="description" content="Сайт знакомств для создания семьи!" />
	<meta name="keywords" content="семья, союз, брак, встречи" />	
	<meta name="author" content="Огънеяръ" />	
	<meta name="robots" content="all,index,follow" />	
	<meta name="distribution" content="global" />	
	<meta name="Rating" content="General">	
	<meta name="Document-state" content="Dynamic">
	
	<!-- Adopt website to current screen -->
	<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0">
		
	<meta http-equiv="Cache-Control" content="no-cache">
	
	<link rel="stylesheet" href="{% static '7yanika/style.css' %}">
	
	<meta name="theme-color" content="#ffffff">
	
	<!-- Here we add libs for jQuery, Ajax... -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
	
	<!-- reCAPTCHA -->
	<script src="https://www.google.com/recaptcha/api.js?render=6LfQ4rIZAAAAAE0Fuv294UR55S8IYXKXciVt28_C"></script>
	
	
	<script type="text/javascript">
		if(screen.width > 800) { // Animate navigation
			$(document).ready(function() {
			// функцию скролла привязать к окну браузера
				$(window).scroll(function(){
					var distanceTop = $('#slideMenu').offset().top;
					if ($(window).scrollTop() >= distanceTop)
						$ ('nav').attr ("id", "fixed");
					else //if ($(window).scrollTop() < distanceTop)
						$ ('nav').attr ("id", "nav");
				});
			});
		}
	</script>	
	
	<style type="text/css">
		@media (min-width: 700px) {
		nav a:first-child, nav#fixed a:first-child {
			border-bottom: 3px solid rgba(255,235,59);
		}} 
	</style>
</head>
<body>
	<header>
		<div class="header">
			<a href="/">			
				<h1><span>СЕМЬЯНИКА</span> - место Вашей встречи!<h1>
			</a>
		</div>	
		<div class="contact">
			<h3>Знакомства для создания семьи.</h3>
			<h1>Тел: +7(918)577-00-09</h1>
		</div>
	</header>
	
	<nav>
		<div class="line-menu">
			<a href="/">Главная</a>
			<a href="/o_nas/index.php">О нас</a>
			<a href="/contacts/index.php">Контакты</a>
			<a href="/zayavki/index.php">Заявки</a>
			<a href="/otzivi/index.php">Отзывы</a>
		</div>
		<ul class="topmenu">
			<li class="topmenu_li"><a href="#"><i class="fa fa-bars fa-lg" aria-hidden="true"></i><!-- Меню--></a>
				<ul class="submenu">	
					<li><a href="/">Главная</a></li>
					<li><a href="/o_nas/index.php">О нас</a></li>
					<li><a href="/contacts/index.php">Контакты</a></li>
					<li><a href="/zayavki/index.php">Заявки</a></li>
					<li><a href="/otzivi/index.php">Отзывы</a></li>
				</ul>
		</ul>
	</nav>
	
	<div id="slideMenu">Моё)</div>
	
	
	
	
	
	
	
	
	
	<div id="wrapper">
	
		<div id="TopCol">		
			<article id="topColPhoto">
				<a href='' title=''>
					<img src="{% static '7yanika/7yanika.jpg' %}" />
				</a>
			</article>
			<article id="topColText">
				<h3><span>7яника</span><span class="span_dop"> - создание семьи!</span></h3>
			</article>
		</div>
		
		<div id="leftCol">		
			<article>
				<div class="f-text">

					<center>

					<h3>Подача заявки на знакомство.</h3>

					
						<form action="podtverjdenie.php" method="post" enctype="multipart/form-data" id="demo-form">
						
						<br>		
							<input type="hidden" name="zayavka" id="zayavka" value="Да">
							<input type="hidden" name="token" id="token">
							<input type="hidden" name="action" id="action">
							
							<label>Введите Ваше имя: <font color="red">*</font><br></label>			
							<input type="text" placeholder="Введите имя..." name="imya" id="imya" size="15" maxlength="100">
						<br><br>
						
							<label>Укажите дату рождения: <font color="red">*</font><br></label>
							<input type="text" placeholder="Ваш возраст..." name="vozrast" id="vozrast" size="15" maxlength="100">
						<br><br>	
									
							<label>Место проживания: <font color="red">*</font><br></label>
							<input type="text" placeholder="Населённый пункт..." name="projivanie" id="projivanie" size="20" maxlength="1000">
						<br><br>	
							
							<label>Ваше образование:<br></label>
							<input type="text" placeholder="Образование..." name="obrazovanie" id="obrazovanie" size="20" maxlength="200">
						<br><br>	
								
							<label>Профессия, род деятельности:<br></label>
							<input type="text" placeholder="Профессия..." name="profesiya" id="profesiya" size="20" maxlength="200">
						<br><br>	
							
							<label>Дети, их пол и возраст:<br></label>
							<textarea placeholder="Дети есть?..." rows="5" cols="25" name="deti" id="deti"></textarea>
						<br><br>	
							
							<label>Возможен ли переезд?<br></label>
							<input type="text" placeholder="Возможен ли?..." name="pereezd" id="pereezd" size="15" maxlength="100">
						<br><br>		
							
							<label>Укажите данные для связи с Вами (телефон, email, соц.сеть): <font color="red">*</font><br></label>
							<input type="text" placeholder="Телефон, email..." name="dannie" id="dannie" size="20" maxlength="200">
						<br><br>		
							
							<label>Загрузите фото (нужен фотопортрет без солнцезащитных очков и в полный рост): <font color="red">*</font><br></label>
							<input type="file" name="file" id="file" accept=".jpg, .jpeg, .png">	
						<br><br> 
							
								
							<input type="submit" class="button" name="done" id="done" value="Отправить заявку">
							
						<br><br>
							
						</form>
					

					<h3><br>
					Отправка сообщения.
					</h3>	

					
						<form action="podtverjdenie.php" method="post" enctype="multipart/form-data">
							
						<br>		
							<input type="hidden" name="message" id="message" value="Да">
							<input type="hidden" name="token" id="token">
							<input type="hidden" name="action" id="action">
								
							<label>Напишите сообщение, укажите данные для связи с Вами (телефон, email, соц.сеть):<br></label>
							<textarea placeholder="Ваше сообщение..." rows="5" cols="25" name="msg" id="msg"></textarea>
						<br><br>	
							
							<input type="submit" class="button" name="done2" id="done2" value="Отправить сообщение">
						<br><br>
							
						</form>
					

					<h3><br>
					Ожидайте ответа руководителя.
					</h3>

					</center>

					<h3>
					&nbsp;&nbsp;&nbsp;&nbsp;Мы позвоним вам, чтобы обсудить подробности и назначить встречу(для местных жителей), в удобное для вас время.
					</h3>	

				</div>
			</article>

			<script>
						let captcha_action = 'add_comment';
					 
						grecaptcha.ready(function() {
							grecaptcha.execute('6LfQ4rIZAAAAAE0Fuv294UR55S8IYXKXciVt28_C', {action: captcha_action})
								.then(function(token) {
									if (token) {
										document.getElementById('token').value = token;
										document.getElementById('action').value = captcha_action;
									}
								});
						});
			</script>
			
		</div>						
		<!-- leftCol-->
		
		
		
		<div id="rightCol">
			<article>
				<br>
				<center>
				<h1><span>Страницы!</span></h1>	
				<h3><br><br>
					<a href='/obzor_meropriyatiy/index.php' title='Обзор мероприятий'>
						Обзор мероприятий
					</a>
				</h3>
				<h3><br><br>
				<a href='/poryadok_meropriyatiy/index.php' title='Порядок мероприятий'>
					Порядок мероприятий
				</a>
				</h3>
				<h3><br><br>
					<a href='/sotrudnichestvo/index.php' title='Сотрудничество'>
						Сотрудничество
					</a>
				</h3>
				<h3><br><br>
					<a href='/partneri/index.php' title='Наши партнеры'>
						Наши партнеры
					</a>
				</h3>
				<h3><br><br>
					<a href='/sovet-da-lubov/index.php' title='Совет-да-любовь'>
						Совет-да-любовь
					</a>
				</h3>
				</center>
				<br>
			</article>

			<article>
				<br>
				<form action="/zayavki/znakomstvo.php" align="center">
					<input type="submit" class="button" name="znakomstvo" id="znakomstvo" value="Заявка на знакомство">
				</form>
				
				<img src="/img/kolca.png" />
				
				<form action="/zayavki/send_message.php" align="center">
				<input type="submit" class="button" name="send_message" id="send_message" value="Отправить сообщение">
				</form>	
				<br>
			</article>


			<article>
				<a href='' title=''>
					<img src="/img/art/7yanika.jpg" />
				</a>
				<center>
				<h3><span>Здесь может быть Ваша реклама!</span></h3>
				</center>
				<br>
			</article>

			<article>
			<center>

				<br>
				<h3><span>Поддержать проект:</span></h3><br>

				<article class="tooltip">	
					
					<h4><span>Карта сбербанка</span></h4>
					<input type="text" value="6390 0252 9029 3032 12" id="myInput" onclick="myFunction('myInput')" onmouseout="outFunc()" readonly>
					
					<br><br>
					
					<h4><span>По номеру тел.</span></h4>
					<input type="text" value="8 918 577 00 09" id="myInput2" onclick="myFunction('myInput2')" onmouseout="outFunc()" readonly>
					
					
					<br><br>
					
					<span class="tooltiptext" id="myTooltip">Нажмите чтобы копировать текст в буфер</span>
				</article>
				
			</center>
			</article>

			<script>
			function myFunction(myIn) {
			  var copyText = document.getElementById(myIn);
			  copyText.select();
			  document.execCommand("copy");
			  
			  var tooltip = document.getElementById("myTooltip");
			  tooltip.innerHTML = "Скопировал: " + copyText.value;
			}

			function outFunc() {
			  var tooltip = document.getElementById("myTooltip");
			  tooltip.innerHTML = "Нажмите чтобы копировать текст в буфер";
			}
			</script>

		</div>
		
		<!-- rightCol-->
		
		
	</div>
	
	
	<footer>		
	<div>
		<div id="rights">
		<h4>
			&copy; 7яника 2008 - <?=date('Y')?>
			<br>+7(918)577-00-09
		</h4>
		</div>
		<div id="social">	
			<article>
				<a href="https://ok.ru/profile/329270985047" title="ОдноКлассники" target="_blank">
					<img src="{% static '7yanika/social/ok.png' %}" alt="ОдноКлассники" />
				</a>
			</article>
			<article>
				<a href="https://www.facebook.com/profile.php?id=100011374764032" title="FaceBook" target="_blank">
					<img src="{% static '7yanika/social/fb.png' %}" alt="FaceBook" />
				</a>
			</article>
			<article>
				<a href="https://www.youtube.com/channel/UCZOunpCQtO2J2Ro5A3BkswA" title="YouTube" target="_blank">
					<img src="{% static '7yanika/social/yt.png' %}" alt="YouTube" />
				</a>
			</article>
			<article>
				<a href="https://vk.com/id303326087" title="VKontakte" target="_blank">
					<img src="{% static '7yanika/social/vkontakte.png' %}" alt="VKontakte" />
				</a>
			</article>
			<article>
				<a href="https://wa.me/79185770009" title="WhatsApp" target="_blank">
					<img src="{% static '7yanika/social/wa.png' %}" alt="WhatsApp" />
				</a>
			</article>
			<article>
				<a href="https://teleg.link/oksanasemyanika" title="Telegram" target="_blank">
					<img src="{% static '7yanika/social/tg.png' %}" alt="Telegram" />
				</a>
			</article>
		</div>
	</div>
	
		<div>
			<br><br><br><br><br><br><br><br>
		</div>

	</footer>
</body>
</html>








