{% extends "products/base_products.html" %}
{% load static %}

{% block category %}Подсвечники{% endblock %}

{% block category_text %}<p class="lead">Выберайте модель нажав на изображение.</p>{% endblock %}

<!------------------------------------>

{% block name1 %}Пусто{% endblock %}
{% block photo1 %}
<a href="#">
	<img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
</a>
{% endblock %}
{% block link1 %}#{% endblock %}
{% block order_link1 %}#{% endblock %}

<!------------------------------------>

{% block name2 %}Пусто{% endblock %}
{% block photo2 %}
<a href="#">
	<img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
</a>
{% endblock %}
{% block link2 %}#{% endblock %}
{% block order_link2 %}#{% endblock %}

<!------------------------------------>

{% block name3 %}Подсвечник "макси"{% endblock %}
{% block photo3 %}
<a href="{% url 'high_candlestick' %}">
	<img class="mb-2" src="{% static 'products/candlesticks/high_candlestick.jpg'%}" alt="" width="100%">
</a>
{% endblock %}
{% block link3 %}{% url 'high_candlestick' %}{% endblock %}
{% block order_link3 %}{% url 'high_candlestick' %}creating_an_order{% endblock %}

<!------------------------------------>








