{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
  <h1>Категория "Подсвечники"!</h1>   
  <p>Выберайте модель.</p>
  
  <p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
  <p>Вернуться <a class="btn btn-outline-primary" href="/products">назад</a></p>
</div>

{% endblock %}

{% block content %} 	
	
<!------------------------------------>
			
<div class="contain">		  
	<div class="box">	  
		<h2 class="name">Подсвечник "макси"</h2>			
		<a class="btn btn-success buy" href="{% url 'high_candlestick' %}">Описание</a>		
		<a href="{% url 'high_candlestick' %}">			
			<img class="product" src="{% static 'products/candlesticks/high_candlestick.jpg'%}" alt="" width="100%">
		</a>
	</div>
	<a class="btn btn-outline-danger" href="{% url 'high_candlestick' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
				
<!-- -->
<div class="contain">
	<div class="box">
		<h2 class="name">Пусто</h2>
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
		<img class="product" src="{% static 'logo3.png'%}" alt="" width="100%">
	</div>
	<button class="btn btn-outline-dark buy" type="button" disabled>ОФОРМИТЬ ЗАКАЗ</button>  	
</div> 
		
<!-- -->
<div class="contain">
	<div class="box">
		<h2 class="name">Пусто</h2>
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
		<img class="product" src="{% static 'logo3.png'%}" alt="" width="100%">
	</div>
	<button class="btn btn-outline-dark buy" type="button" disabled>ОФОРМИТЬ ЗАКАЗ</button> 	
</div>	
  
{% endblock %}

