{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Категория "Ножи"!</h1>
   
  <p class="lead">Выберайте модель нажав на изображение.</p>
  
  <p class="lead">Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
  <p class="lead">Вернуться <a class="btn btn-outline-primary" href="/products">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

<div class="card-deck mb-3 text-center">  
   	
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пусто /<br> Empty</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
		
      </div>
    </div>	
	
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Нож /<br> "Middle Knife"</h4>
      </div>
      <div class="card-body">	  
		<a href="/products/knifes/middle_knife">
			<img class="mb-2" src="{% static 'middle_knife.jpg'%}" alt="" width="100%">
		</a>		
      </div>
	  <div class="card-header">
        <a class="btn btn-success" href="/products/knifes/middle_knife">Описание</a>
      </div>
	  <div class="card-header">
        <a class="btn btn-danger" href="/products/applications/middle_knife/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
      </div>
    </div>
	
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Пусто /<br> Empty</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">
		
      </div>
    </div>
	
</div>
  
{% endblock %}


