{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Обо мне!</h1>
  
  <p class="lead">Я блогер, ютубер ХуторянинЪ. </p>
  <p class="lead">Программист по образованию, по специальности, а уже кузнец по случайности, немного столяр, математик, певец и хвастунишка, коих ещё надо поискать. Трудился я во многих сферах, по специальности кстати никогда - это хобби, был грущиком, кладовщиком, зав.складом, мастером по установке спутникового оборудования, инженером-ремонтником холодильного оборудования, инженером пекарни, а сейчас охранник и блогер ютуб-канала ХуторянинЪ.</p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="card-deck mb-3 text-center">
  
    <div class="card mb-4 shadow-sm">      
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'ya2.jpg'%}" alt="" width="100%">
		
		<!--<img class="mb-2" src="http://f0430377.xsph.ru/hutoryanin/photo/ya2.jpg" alt="" width="100%">-->
		
      </div>
	  <div class="card-header">
        <h4 class="my-0 font-weight-normal">ХуторянинЪ</h4>
      </div>
    </div>
	
    
	
</div>

{% endblock %}
