{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Обо мне!</h1>
  
  <p class="lead">Я блогер ХуторянинЪ. Программист по образованию, кузнец по случайности, немного столяр и хвастунишка, коих ещё надо поискать. (шутка) (или нет) (а может и да)</p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="card-deck mb-3 text-center">
  
    <div class="card mb-4 shadow-sm">      
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'python.png'%}" alt="" width="100%">
		
      </div>
	  <div class="card-header">
        <h4 class="my-0 font-weight-normal">ХуторянинЪ</h4>
      </div>
    </div>
	
    
	
</div>

{% endblock %}
