{% load static %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
	<meta name="description" content="Официальный сайт блогера ХуторянинЪ!" />
	<meta name="keywords" content="хуторянин, ковка, ложки, мёд" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Огънеяръ">
    <title>ХуторянинЪ</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons 
	<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
	<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml"> -->

	<link rel="icon" href="{% static 'logo.png'%}">

	<meta name="theme-color" content="#563d7c">


    <style>
		html {
		  font-size: 14px;
		}
		@media (min-width: 768px) {
		  html {
			font-size: 16px;
		  }
		}

		.container {
		  max-width: 960px;
		}

		.pricing-header {
		  max-width: 700px;
		}

		.card-deck .card {
		  min-width: 220px;
		}
		
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  
	  textarea {
		width: 80%;
		height: 325px; 
		resize: none; /* Запрещаем изменять размер */
	  }
	  
	  input {
	    width: 60%;
	  }
    </style>

  </head>
  
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="btn btn-danger" href="/">ХуторянинЪ</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <!--<a class="btn btn-outline-dark" href="/">Главная</a>-->
	<a class="btn btn-outline-dark" href="/public/1">Публикации</a>
    <a class="btn btn-outline-primary" href="/shop">Товары</a>
	<a class="btn btn-outline-success" href="/promo">Акции</a>
	<!--<a class="p-2 text-dark" href="/about">Обо мне</a>-->
    <a class="btn btn-outline-warning" href="/support">Тех.поддержка</a>
  </nav>
  <!--<a class="btn btn-outline-primary" href="/lk">Л.К.</a>-->
</div>


{% block header %}{% endblock %} 



<div class="container">



{% block content %}{% endblock %} 



  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
	
      <div class="col-12 col-md">	  
        <img class="mb-2" src="{% static 'logo.png'%}" alt="" width="24" height="24">	
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>		
      </div>

      <div class="col-6 col-md">
        <h5>Ресурсы</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/">Главная</a></li>
		  <li><a class="text-muted" href="/public/1">Публикации</a></li>
          <!--<li><a class="text-muted" href="/lk">Личный кабинет</a></li>-->
          <li><a class="text-muted" href="/shop">Товары</a></li>
          <li><a class="text-muted" href="/promo">Акции</a></li>
          <li><a class="text-muted" href="/support">Тех.поддержка</a></li>
          <!--<li><a class="text-muted" href="/about">о Хуторянине</a></li>-->
        </ul>
      </div>
	  
      <div class="col-6 col-md">
        <h5>Соц.сети</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.youtube.com/channel/UCXo_PcOU2E-ek-pbdDGUYLA?view_as=subscriber" target="_blank">Ютуб канал</a></li>		  
		  <li><a class="text-muted" href="https://t.me/hutor_yanin" target="_blank">Телеграм канал</a></li>
		  <li><a class="text-muted" href="https://www.instagram.com/hutor_yanin" target="_blank">Инстаграм</a></li>
          <li><a class="text-muted" href="https://vk.com/club198545483" target="_blank">Вконтакте</a></li>
          <li><a class="text-muted" href="https://ok.ru/group/64240788504623" target="_blank">Одноклассники</a></li>
          <li><a class="text-muted" href="https://icq.im/hutoryanin" target="_blank">ICQ new</a></li>
		  <li><a class="text-muted" href="https://www.facebook.com/groups/649701642614016/?ref=share" target="_blank">Facebook</a></li>
		  <li><a class="text-muted" href="https://invite.viber.com/?g2=AQBw4bOeGtYqR0wXcLMpZvsnYqNQw60KFF2aA6i%2B6o0lCXCfSYGrnty3J9%2FAqJt%2B" target="_blank">Viber</a></li>
		  
		  <li><a class="text-muted" href="https://yandex.ru/chat/#/join/317765f5-498a-4010-ba49-2f766c134385" target="_blank">Яндекс месенджер</a></li>
        </ul>
      </div>
      
    </div>
  </footer>
</div>
</body>
</html>
