{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Добро пожаловать!</h1>
  
  <p class="lead">Это официальный сайт блогера ХуторянинЪ.</p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="card-deck mb-3 text-center">
  
    <div class="card mb-4 shadow-sm">      
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'ya.jpg'%}" alt="" width="100%">
		
		<!--<img class="mb-2" src="http://f0430377.xsph.ru/hutoryanin/photo/ya.jpg" alt="" width="100%">-->
		
      </div>
	  <div class="card-header">
        <h4 class="my-0 font-weight-normal">Азъ есмь Огънеяръ!</h4>
      </div>
    </div>
	
    
	
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h3 class="font-italic">Немного о себе.</h3>
  
  <p class="lead">Здравствуйте все! Я блогер, ютубер ХуторянинЪ. </p>
  
  <p class="lead">Программист по образованию, по специальности, а уже кузнец по случайности, немного столяр, математик и немного певец. Славянин, наречён Весътой именем Огънеяръ. Друзья и близкие так и зовут - Огнеяр, в миру Михаил (Яковлев Михаил Валерьевич). Сын Валерия и Ольги (Звенирады), внук Сергея и Томары, а так же Леонида и Татьяны. Слава Роду! Слава наша - Богам и Предкам! </p>
  
  <p class="lead">Трудился я во многих сферах, по специальности кстати никогда - это хобби, был грущиком, кладовщиком, зав.складом, мастером по установке спутникового оборудования, инженером-ремонтником холодильного оборудования, инженером пекарни, а сейчас охранник и вольный блогер ютуб-канала.</p>
  
  <p class="lead">Этот сайт я сделал сам. Конечно ничего особого в нём нет, он прост, но он тем самым меня и привлекает, а что-либо добавить всегда можно и тем более я это планирую делать, но постепенно и надеюсь с Вашей помощью, совету всегда рад.</p>
  
  <p class="lead">Немного технической информации касаемой сайта (если кому интересно): это мой третий сайт, он написан на python 3, фреймворк django, css стили с bootstrap'а, хостинг на heroku. Первый свой сайт писал сам, без фреймворка, на php, css'ки тоже сам прописывал и знаете что, устал, это просто жесть. <a href="https://prizmarket.ru" target="_blank">Вот он</a>, посмотрите. Второй сайт это практически его копия, только расцветку сменил, <a href="https://7yanika-rostov.ru" target="_blank">вот и он</a>, сравните.</p>
  
  <p class="lead">В работе сайтов использую телеграм-ботов, они очень помогают в решении разных задач. В первом сайте используется вообще "целая армия" ботов, каждый сделан под определённую задачу. Написаны на php, а в этом сайте мне помогает пока только один, конечно же написан он на python.</p>
  
  <p class="lead">Мне было интересно усвоить новый язык программирования, вот я и стал изучать python. А так, я коснулся даже программирования приложений под android, поработал немного с языком java, но к нему я ещё обязательно вернусь когда решу в каком виде должно быть приложение для Хуторянина.</p>
  
  <p class="lead">Не совсем-то "немного тех. информации" получилось, увлёкся. ;)</p>
  
  <p class="lead">Периодически кую... или поковываю... Ковать интересно, но быстро устаёт рука молотком махать, с пневмо-молотом было бы по веселей (или гидро-молотом, или электро, это не так важно). Менее меня увлекает столярка, обтачивать деталь нудно как-то, но как же душа радуется когда процесс подходит к концу и видишь результат своих стараний.</p>
  
  <p class="lead">Благодарю всех кто дочитал до этих строк, прошу, по учавствуйте в создании этого сайта, мне нужны идеи, подсказки. Жду от Вас любых советов, касаемых улучшения сайта, буду рад разным предложениям по видеосъёмке, может есть идеи для моих будущих видео-постов? Пишите в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
  <p class="lead">Всем удачи! Пока.</p>
  
</div>


<div class="card-deck mb-3 text-center">
  
    <div class="card mb-4 shadow-sm">      
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'ya2.jpg'%}" alt="" width="100%">
		
		<!--<img class="mb-2" src="http://f0430377.xsph.ru/hutoryanin/photo/ya2.jpg" alt="" width="100%">-->
		
      </div>
	  <div class="card-header">
        <h4 class="my-0 font-weight-normal">ХуторянинЪ</h4>
      </div>
    </div>
	
    
	
</div>

{% endblock %}
