{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

  <h1>Акции от Хуторянина!</h1>

  <br>
  <hr>
  <br>
  
  <p><span class="r">С 1.12.2020</span> стартует акция <b class="r">"ОТКРЫТИЕ"</b>, в которой будет разыгран <span class="r">один нож</span>, комплект из <span class="r">трёх ложек</span> для мёда и утешительный приз - <span class="r">скидка на любой товар</span> из магазина этого сайта со скидкой 50%.</p>

  <p><span class="r">Для участия в акции</span> Вам необходимо в одной из своих соц.сетей (ВКонтакте, Инстаграм, Одноклассники) опубликовать ссылку на этот сайт (<span class="g">www.hutoryanin.ru</span>).</p>

  <p>А ссылку на Ваш пост в соц.сети опубликовать на Ютуб-канале ХуторянинЪ в комментариях под последним вышедшим видео (<span class="g">Дарю подарки</span>).</p>

  <p>Розыгрыш призов состоится 20го декабря 2020го года.</p>

  <br>
  <hr>
  <br>

  <p><span class="r">Так же с 1.12.2020</span> стартует акция <b class="r">"НОВОГОДНЯЯ"</b> в которой всем зарегистрированным до 31го декабря 2020го года на сайте пользователям будет доступна по промокоду скидка 30% на все товары и услуги.</p>

  <p>После регистрации Вам будет выдан ПРОМО-КОД, который необходимо указать при покупке.</p>

  <br>
  <hr>
  <br>  
  
  <p>Следите за обновлениями в новостной ленте телеграм канала <a class="btn btn-primary" href="https://t.me/hutor_yanin" target="_blank">ХуторянинЪ</a></p>
  
  <p>А такж же на ютуб-канале <a class="btn btn-danger"  href="https://youtube.com/c/ХуторянинЪ" target="_blank">ХуторянинЪ</a></p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="image">	
        <img class="img50" src="{% static 'logo.png'%}" alt="">		
        <h4 class="caption-two">Акция /<br> Promo</h4>		
</div>	


{% endblock %}





