{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

  <h1>Акции от Хуторянина!</h1>
  
  <p>С 1.11.2020 после празднования дня рождения Хуторянина стартует акция, в которой будет разыгран один нож и три ложки для мёда.</p>
  
  <p>Подробности акции чуть позже, следите за обновлениями в новостной ленте телеграм канала <a class="btn btn-primary" href="https://t.me/hutor_yanin" target="_blank">ХуторянинЪ</a></p>
  
  <p>А такж же на ютуб-канале <a class="btn btn-danger"  href="https://youtube.com/c/ХуторянинЪ" target="_blank">ХуторянинЪ</a></p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="contain">      	
	<div class="image">	  
        <img src="{% static 'logo.png'%}" alt="" width="30%">		
        <h4 class="caption">Акция /<br> Promo</h4>
	</div>	
</div>

{% endblock %}





