{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Публикации</h1>
  
  <p class="lead">Смотрите видео с ютуб-канала ХуторянинЪ.</p>
  
</div>

{% endblock %}

{% block content %}

<div class="card-deck mb-3 text-center">
  
  
	{% for urls in all_url %}		
  
	<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ urls.title }}</h4>
      </div>
      <div class="card-body"> 
		
		<iframe width="100%" height="100%" src="{{ urls.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<!--https://www.youtube.com/embed/YWgFCe5tUso--><!--Подставка для ножа-->	
		<!--https://www.youtube.com/embed/dRTze2IpB-Y--><!--Ореховая пешка-->
		<!--https://youtube.com/embed/XsF2A3_oZVc--><!--Тестирование инструмента-->		
		<!--https://youtube.com/embed/Zwfz6uKAQbU--><!--Ложки - близняшки-->		
		<!--https://youtube.com/embed/nUTvuZ7WaMY--><!--Педаль акселератора-->		
		<!--https://youtube.com/embed/0qrO8RlsuGw--><!--Шахматы-->		
		<!--https://youtube.com/embed/Qh5uQvJU-7c--><!--Огромная скалка-->		
		<!--https://youtube.com/embed/luaINct2WDA--><!--Эталон-->		
		<!--https://youtube.com/embed/XI_s3yNKRjA--><!--Туркина крышка-->		
		<!--https://youtube.com/embed/ySOyaeChYoQ--><!--С 8 марта 2018-->		
		<!--https://youtube.com/embed/NGAwBMbuKis--><!--Эталон №2-->		
		<!--https://youtube.com/embed/lYe9tETsqTc--><!--Изготовление резца-->
		<!--https://youtube.com/embed/IjZypkbqsb8--><!--Эталон №3-->		
		<!--https://youtube.com/embed/fN6fdAJNMuc--><!--Моя баня-->		
		<!--https://youtube.com/embed/4lKBQ2Vn7O4--><!--Эталон №4-->		
		<!--https://youtube.com/embed/eeXyx1Mq8HA--><!--Ремонт ракетки-->		
		<!--https://youtube.com/embed/zRkSxpDh4_g--><!--Эталон №5-->		
		<!--https://youtube.com/embed/2hIJv_dkmcw--><!--Всечка металла-->		
		<!--https://youtube.com/embed/YRPBVmAFmVM--><!--Техника безопасности-->		
		<!--https://youtube.com/embed/_KPTj1lwXbM--><!--Эталон №6-->		
		<!--https://youtube.com/embed/CZX9QkN2DWk--><!--Ложка в подарок-->		
		<!--https://youtube.com/embed/6MbgvL1bRSw--><!--Эталон №7-->		
		<!--https://youtube.com/embed/hRdmO15SsOc--><!--Ложка в подарок 2-->		
		<!--https://youtube.com/embed/AXAb6qveTKM--><!--Эталон №8-->		
		<!--https://youtube.com/embed/XbluYUOp4-Y--><!--Травление надписи-->		
		<!--https://youtube.com/embed/RGPw7eiZIus--><!--Эталон №9-->
		


		<!--https://www.youtube.com/embed/SszezOHLCCY--><!--Реставрация ножа-->		
		<!--https://www.youtube.com/embed/QS2P92El7Zg--><!--Трипод. вастовство-->		
		<!--https://www.youtube.com/embed/HiC4CCsR_oU--><!--Кето-диета. начало-->		
		<!--https://www.youtube.com/embed/XvZBVwniSPg--><!--Кето-диета. 1 месяц-->		
		<!--https://www.youtube.com/embed/8u-HGyBwuPU--><!--Ножи. хвастовство-->		
		<!--https://www.youtube.com/embed/ZAdtWyRppSs--><!--Кето-диета. 2 месяца-->		
		<!--https://www.youtube.com/embed/waeIXUoOtO0--><!--Ковка. хвастовство-->		
		<!--https://www.youtube.com/embed/bepK5ehIwic--><!--Вакууматор. тестирование-->
		<!--https://www.youtube.com/embed/dGRJU_QlMf4--><!--Кето-диета. 3 месяца-->		
      </div>
    </div>	

	{% endfor %}
	
</div>

  
{% endblock %}


