{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

	<h1>Ложка для мёда "кроха"!</h1><br>
  
	<p><a class="btn btn-outline-danger" href="{% url 'low_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>    
	
	<h4>Параметры ложки:</h4>

	<p>Длина - 120мм.<br>		
		Диаметр минимум (рукояти) - 10-12мм.<br>
		Диаметр максимум - 25мм.</p>

	<p>Стоимость ложки - <span class="g">200</span> рублей.</p>
	
	<p>Действует <span class="r">скидка в {{ discount }}%</span> по Промо-коду, для этого <a href="/registration">зарегистрируйтесь</a> на нашем сайте.</p>
	<p>Скидка действует до {{ discount_until }}. Не упустите свой шанс!</p>
	<br>

	<p>Доставка почтой России оплачивается отдельно.</p>

	<br>
	<p><a class="btn btn-outline-danger" href="{% url 'low_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/spoons">назад</a></p>
  
</div>

{% endblock %}

{% block content %}
<!-- 
<div class="image"> 	  
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
</div>
   -->
{% endblock %}


