{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

	<h1>Ложка для мёда "кроха"!</h1><br>
  
	<p><a class="btn btn-outline-danger" href="{% url 'low_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>    
		
	<p>Стоимость ложки - 200 рублей.</p>  
  
	<p>Доставка почтой России оплачивается отдельно.</p>
  
	<br>
	<p><a class="btn btn-outline-danger" href="{% url 'low_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/spoons">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

<div class="image"> 	  
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
</div>
  
{% endblock %}


