{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Ложка для мёда "мера"!</h1><br>
  
  <p class="lead"><a class="btn btn-outline-danger" href="/products/spoons/middle_spoon/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>    
     
  <p class="lead">Стоимость ложки - 250 рублей.</p>  
  
  <p class="lead">Доставка почтой России оплачивается отдельно.</p>
  
  <br>
  <p class="lead"><a class="btn btn-outline-danger" href="/products/spoons/middle_spoon/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
  <br>
  
  <p class="lead">Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
  
  <p class="lead">Вернуться <a class="btn btn-outline-primary" href="/products/spoons">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

<div class="card-deck mb-3 text-center">  
   
	<div class="card mb-4 shadow-sm">
      <div class="card-body">	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">		
      </div>
    </div>
	
	<div class="card mb-4 shadow-sm">
      <div class="card-body">	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">		
      </div>
    </div>	
	
	<div class="card mb-4 shadow-sm">
      <div class="card-body">	  
        <img class="mb-2" src="{% static 'logo3.png'%}" alt="" width="100%">		
      </div>
    </div>
	
</div>
  
{% endblock %}


