{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

  <h1>Категория "Ложки для мёда"!</h1>   
  <p>Выберайте модель.</p>  
  
  <p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
  <p>Вернуться <a class="btn btn-outline-primary" href="/products">назад</a></p>  
  
</div>

{% endblock %}

{% block content %}
	
<!------------------------------------>
			
<div class="contain">		  
	<div class="box">	  
		<h2 class="name">Ложка "Кроха"</h2>
		<h2 class="price">200р</h2>
		<a class="btn btn-success buy" href="{% url 'low_spoon' %}">Описание</a>		
		<a href="{% url 'low_spoon' %}">			
			<img class="product" src="{% static 'products/spoons/low_spoon.png'%}" alt="low_spoon" width="100%">
		</a>
	</div>	
	<a class="btn btn-outline-danger" href="{% url 'low_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
	
<!------------------------------------>
	
<div class="contain">
    <div class="box">
		<h2 class="name">Ложка "Мера"</h2>
		<h2 class="price">250р</h2>
		<a class="btn btn-success buy" href="{% url 'middle_spoon' %}">Описание</a>
		<a href="{% url 'middle_spoon' %}">
			<img class="product" src="{% static 'products/spoons/middle_spoon.png'%}" alt="middle_spoon" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'middle_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
	
<!------------------------------------>
	
<div class="contain">
    <div class="box">
		<h2 class="name">Ложка "Царица"</h2>
		<h2 class="price">300р</h2>
		<a class="btn btn-success buy" href="{% url 'high_spoon' %}">Описание</a>
		<a href="{% url 'high_spoon' %}">
			<img class="product" src="{% static 'products/spoons/high_spoon.png'%}" alt="high_spoon" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'high_spoon' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>			

{% endblock %}

