
.image {	
	position: relative;
	text-align: center;
	margin: 0 20px;	
	
	padding: 5px;
	width: 100%;
	
	display: -webkit-flex;
	display: flex; 		
	-webkit-flex-direction: row;
	flex-direction: row;		
	-webkit-justify-content: center;
	justify-content: center;
	
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.image img {
	min-width: 220px;		
}
.image .img33 {
	width: calc(33% - 10px);
	padding: 5px;
}
.image .img50 {
	width: calc(50% - 15px);
	padding: 7.5px;
}
.image .img100 {
	width: calc(100% - 20px);
	padding: 10px;
}

.image .caption {
	color: white;
	text-shadow: red 0 0 3px;
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 10;
}
.image .caption-two {
	color: white;
	text-shadow: green 0 0 5px;
	position: absolute;
	bottom: 10px;
	right: 150px;
	z-index: 10;
}


