
.image {	
	text-align: center;
	transform-style: preserve-3d;
	margin: 0 20px;
	
	padding: 5px;
	width: 100%;
	
	display: -webkit-flex;
	display: flex; 		
	-webkit-flex-direction: row;
	flex-direction: row;		
}
.image .caption {
	color: white;
	text-shadow: red 0 0 3px;
	position: absolute;
	bottom: 10px;
	right: 20px;
	z-index: 10;
}

.image img {
	min-width: 220px;	
}

