@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('/static/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/static/fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/static/fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/static/fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/static/fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;			
	/*font-family: Times New Roman, sans-serif;*/
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-bars:before{
	content:"\f0c9"
}
.fa-lg {
	font-size: 3em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.menu {
	width: 100%;	
	background: yellow;	
	padding: 20px;
	
	border-bottom: 2px solid #000;
	
	
}

.menu  .logo {
	float: left;	
	
	background: white;	
}
.menu  .nav {	
	/*float: right;*/
	
	/*
	justify-content: flex-end;
	align-items: center; 
	flex-wrap: wrap;
	*/
	
	background: blue;
}
.line-menu {
	padding: 20px;
	margin: 0 10px;	
}		


.menu  .nav a {	
	background: white;		
}

.menu  .ul {
	
	float: right;
	background: violet;
	margin-right: 20px;
}			


@media (max-width: 499px){
	.line-menu {
		display: none;
	}		
	.menu  .ul {	
		display: flex;
		justify-content: flex-end;
	}
}
@media (min-width: 500px){
	.topmenu {
		display: none;		
	}			
	.menu  .nav {	
		display: flex;
		justify-content: flex-end;
	}
}
		
.submenu {
	list-style: none;   	
	margin: 0;
	padding: 20px;		
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;	
	display: none;
	background: #f0f0f0;	
	border: 1px solid #8c8c8c;
	border-radius: 5px;
}
.topmenu_li {
	display: inline-block;
	margin: 0px;
	margin-left: -30px;
	float: left;
	position: relative;		
	padding: 10px 0;
	text-decoration: none;
	outline: none;
	transition: .5s linear;
}
.submenu a {	
	padding: 10px 15px;
	color: #8c8c8c;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}

.topmenu_li:hover .submenu {
	display: block;
}
