@font-face {
    font-family: 'NaturalMono'; 
    src: url('/static/fonts/NaturalMono.ttf'); 
}
@font-face {
    font-family: 'mr_AfronikG'; 
    src: url('/static/fonts/mr_AfronikG.ttf'); 
}
@font-face {
    font-family: 'Verdana'; 
    src: url('/static/fonts/Verdana.ttf'); 
}
html {
	/*font-family: sans-serif;*/
	/*font-family: "Courier New", Courier, monospace;*/
	font-family: Verdana;
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body {
	background: #f7f7f7; /* #f7f7f7 green */	
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
textarea {
	width: 75%;
	height: 325px;
	resize: none; 
}
input {
	width: 75%;
}
.btn {	
	padding: 10px 15px;	
	border-radius: 5px;
}
.btn-outline-dark {
	border: 1px solid black;
	color: black;
}
.btn-outline-danger {
	border: 1px solid red;
	color: red;
}
.btn-dark {
	border: 1px solid black;
	background: black;
	color: white;
}
.btn-danger {
	border: 1px solid red;
	background: red;
	color: white;
}


.main {
	/*float: left;*/
	max-width: 960px;	
	text-align: center;
	/*
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 100px 100px;
	
	grid-gap: 50px 30px;
	*/	
}



/*


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.pricing-header {
	max-width: 700px;	
}
.text-center {
	text-align: center;
}
.card-deck .card {
	min-width: 220px;
}



.d-flex {	
	display: flex; 
}
.flex-md-row {	
	flex-direction: row;
}




.card-deck {
	width: 100%;
}
.card {
	width: 33%;
}
*/






