@font-face {
    font-family: 'NaturalMono'; 
    src: url('/static/fonts/NaturalMono.ttf'); 
}
@font-face {
    font-family: 'mr_AfronikG'; 
    src: url('/static/fonts/mr_AfronikG.ttf'); 
}
@font-face {
    font-family: 'Verdana'; 
    src: url('/static/fonts/Verdana.ttf'); 
}
html {
	/*font-family: sans-serif;*/
	/*font-family: "Courier New", Courier, monospace;*/
	font-family: Verdana;
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body {
	background: green; /* #f7f7f7 green */	
	width: 100%;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
textarea {
	width: 75%;
	height: 325px;
	resize: none; 
}
input {
	width: 75%;
}
.btn {	
	padding: 10px 15px;	
	border-radius: 5px;
}

/* BUTTON DANGER */
.btn-danger {
	border: 1px solid Crimson;
	background: Crimson; /* red FireBrick Crimson*/
	color: White;
}
.btn-danger:hover {	
	border: 1px solid FireBrick;
	background: FireBrick; /* Brown DarkRed */
}
.btn-outline-danger {
	border: 1px solid Crimson;
	color: Crimson;
}
.btn-outline-danger:hover {
	background: Crimson;
	color: White;
}
/* ------------- */

/* BUTTON DARK */ 
.btn-dark {
	border: 1px solid #333; /* Black */
	background: #333;
	color: White;
}
.btn-dark:hover {
	border: 1px solid Black;
	background: Black;
}
.btn-outline-dark {
	border: 1px solid #333;
	color: #333;
}
.btn-outline-dark:hover {
	background: #333;
	color: White;
}
/* ----------- */ 

/* BUTTON PRIMARY */
.btn-primary {
	border: 1px solid DodgerBlue; /* DeepSkyBlue Blue DodgerBlue RoyalBlue */
	background: DodgerBlue;
	color: White;
}.btn-primary:hover {
	border: 1px solid RoyalBlue;
	background: RoyalBlue;
}
.btn-outline-primary {
	border: 1px solid DodgerBlue;
	color: DodgerBlue;
}
.btn-outline-primary:hover {	
	background: DodgerBlue;
	color: White;
}
/* -------------- */

/* BUTTON SUCCESS */
.btn-success {
	border: 1px solid ForestGreen; /* Green MediumSeaGreen SeaGreen DarkGreen ForestGreen */
	background: ForestGreen;
	color: White;
}.btn-success:hover {
	border: 1px solid Green;
	background: Green;
}
.btn-outline-success {
	border: 1px solid ForestGreen;
	color: ForestGreen;
}
.btn-outline-success:hover {
	background: ForestGreen;
	color: White;
}
/* -------------- */

/* BUTTON WARNING */
.btn-warning {
	border: 1px solid Orange; /* Orange Gold GoldenRod Peru */
	background: Orange;
	color: White;
}
.btn-warning:hover {
	border: 1px solid Peru;
	background: Peru;
}
.btn-outline-warning {
	border: 1px solid Orange;
	color: Orange;
}
.btn-outline-warning:hover {
	background: Orange;
	color: White;
}
/* -------------- */


.main {
	display: flex;	
	flex-direction: column;
	
	background: blue;
	/*max-width: 960px;*/

	text-align: center;
	/*padding: 0 20px;	*/
}

@media (min-width: 960px) {
    .main {
		width: 70%;	
		margin-left: 15%;
		margin-right: 15%;		
	}
}
@media (max-width: 959px) {
	.main {
		width: 100%;	
		margin-left: 0;
		margin-right: 0;	
	}
}


.header {
	/*background: yellow;*/	
	background: #f7f7f7;
	padding: 20px;	
	/*width: 70%;	*/
	text-align: center;	
}

.content {
	background: violet;	
	text-align: center;	
}



/*


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.pricing-header {
	max-width: 700px;	
}
.text-center {
	text-align: center;
}
.card-deck .card {
	min-width: 220px;
}



.d-flex {	
	display: flex; 
}
.flex-md-row {	
	flex-direction: row;
}




.card-deck {
	width: 100%;
}
.card {
	width: 33%;
}
*/






