body {
background: green;
}

/*
. {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}
textarea {
	width: 75%;
	height: 325px;
	resize: none; 
}
input {
	width: 75%;
}
a {
	text-decoration: none;
}
body {

	display: flex;
	flex-column: center;
	justify-content: center; 
	align-items: center;
	min-height: 100vh;
	background: #f1f1f1;

}






.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.container {
	max-width: 960px;
}
.pricing-header {
	max-width: 700px;	
}
.text-center {
	text-align: center;
}
.card-deck .card {
	min-width: 220px;
}

.btn {	
	padding: 10px 15px;	
	border-radius: 5px;
}

.text-center {
	text-align: center;
}
.btn-outline-dark {
	border: 3px solid black;
	color: black;
}
.btn-outline-danger {
	border: 3px solid red;
	color: red;
}
.btn-dark {
	border: 3px solid black;
	background: black;
	color: white;
}
.btn-danger {
	border: 3px solid red;
	background: red;
	color: white;
}
.d-flex {	
	display: flex; 
}
.flex-md-row {	
	flex-direction: row;
}




.card-deck {
	width: 100%;
}
.card {
	width: 33%;
}
*/






