{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
  <h1>Техническая поддержка</h1>  
  <p>Здесь Вы можете ко мне обратиться с вопросами и предложениями.</p>  
</div>

{% endblock %}

{% block content %}

<div class="contain">
        
	<h3>Напишите мне.</h3>
     
	<form method="post" action="/sendmail/">
		<input type="hidden" name="login" id="login" value="test">
			
		<label>Ваш Email:</label><br>
		<input type="text" placeholder="Укажите Ваш Email" name="email" id="email" maxlength="100"><br><br>
			
		<label>Текст сообщения:</label><br>
		
		<div contenteditable="true">
			<textarea placeholder="Здесь напишите Ваш вопрос или предложение" name="message" id="message" maxlength="1500" wrap="soft"></textarea>
		</div>	<br>
			
		<div align="center">
			<button type="submit" class="btn btn-primary submit_sendmail">Отправить</button>
		</div>
	</form>

	<!-- <div class="loader_image"></div> -->
		
</div>
  
{% endblock %}


