{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

	<h1>Категория "Ножи"!</h1>   
	<p>Выберайте модель.</p>  
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  	
	<p>Вернуться <a class="btn btn-outline-primary" href="/products">назад</a></p>  
  
</div>
{% endblock %}

{% block content %}

<!------------------------------------>
			
<div class="contain">		  
	<div class="box">	  
		<h2 class="name">"Low Knife"</h2>			
		<a class="btn btn-success buy" href="{% url 'low_knife' %}">Описание</a>
		<a href="{% url 'low_knife' %}">			
			<img class="product" src="{% static 'products/knives/low_knife.jpg'%}" alt="" width="100%">
		</a>
	</div>
	<a class="btn btn-outline-danger" href="{% url 'low_knife' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
	
<!------------------------------------>
	
<div class="contain">
    <div class="box">
		<h2 class="name">"Middle Knife"</h2>
		<a class="btn btn-success buy" href="{% url 'middle_knife' %}">Описание</a>
		<a href="{% url 'middle_knife' %}">
			<img class="mb-2 product" src="{% static 'products/knives/middle_knife.jpg'%}" alt="" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'middle_knife' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
	
<!------------------------------------>

<div class="contain">
    <div class="box">
		<h2 class="name">"High Knife"</h2>
		<a class="btn btn-success buy" href="{% url 'high_knife' %}">Описание</a>
		<a href="{% url 'high_knife' %}">
			<img class="mb-2 product" src="{% static 'products/knives/high_knife.jpg'%}" alt="" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'high_knife' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>			

{% endblock %}

