{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Нож "{{ colorInRussian }} Жучёк"!</h1>
	<br><br>  
	<p><a class="btn btn-outline-danger" href="{% url 'low_knife_bee' %}/creating_an_order?color={{ color }}">ОФОРМИТЬ ЗАКАЗ</a></p>    	 
	<br>
	<p>Нож из нержавеющей кованой стали 95х18.</p>
	<p>Стоимость ножа c полосатой рукоятью - 1200 рублей.</p>  
	<p>Дополнительно можно заказать кожаные ножны - 300 рублей.</p>  
	<p>Доставка почтой России оплачивается отдельно.</p>
</div>

{% endblock %}


{% block content %}
<!-- 
<div class="image"> 	  
	<img class="img33" src="{% static 'products/knives/all_4_knives2.png'%}" alt="all_4_knives2">
	<img class="img33" src="{% static 'products/knives/all_4_knives.png'%}" alt="all_4_knives">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
</div>
   -->
<div class="contain">
	<p><a class="btn btn-outline-danger" href="{% url 'low_knife_bee' %}/creating_an_order?color={{ color }}">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
	<br>   
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/knives">назад</a></p>  
</div>

{% endblock %}
