{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">

	<h1>Нож "Middle Knife"!</h1>
	<br><br>  
	<p><a class="btn btn-outline-danger" href="{% url 'middle_knife' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>    
	<br>
	<p>Нож из нержавеющей кованой стали 95х18.</p>
	
	<p>Рукоять из акации. (возможны различные вариации)</p>

	<h4>Параметры клинка:</h4>

	<p>Длина клинка - 200мм.<br>
		Длина лезвия - 90мм.<br>
		Ширина лезвия - 17мм.<br>
		Толщина обуха - 2мм.</p>

	<p>Стоимость ножа (с деревянной рукоятью) - <span class="g">1000</span> рублей.</p>	
	<p>Дополнительно можно заказать кожаные ножны - 400 рублей.</p> 
	<p>Действует <span class="r">скидка в 30%</span> по Промо-коду, для этого <a href="/registration">зарегистрируйтесь</a> на нашем сайте.</p>
	<br>
	<p>Доставка почтой России оплачивается отдельно.</p>  	
</div>

{% endblock %}

{% block content %}

<div class="image"> 	  
	<img class="img33" src="{% static 'products/knives/middle_knife2.png' %}" alt="middle_knife">		
	<img class="img33" src="{% static 'products/knives/all_2_knives.png' %}" alt="all_2_knives">
	<!-- <img class="img33" src="{% static 'logo3.png' %}" alt=""> -->
	<img class="img33" src="{% static 'products/knives/all_8_knives.jpg' %}" alt="all_8_knives">
</div>
<div class="contain">
	<p><a class="btn btn-outline-danger" href="{% url 'middle_knife' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
	<br>
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/knives">назад</a></p>  
</div>

{% endblock %}


