{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1>Нож "Middle Bee {{ color }}"!</h1>
	<br><br>  
	<p><a class="btn btn-outline-danger" href="{% url 'middle_knife_bee' %}/creating_an_order?color={{ color }}">ОФОРМИТЬ ЗАКАЗ</a></p>    
	<br>
	<p>Нож из нержавеющей кованой стали 95х18.</p>
	<p>Стоимость ножа с полосатой рукоятью - 1500 рублей.</p>  
	<p>Дополнительно можно заказать кожаные ножны - 400 рублей.</p>  
	<p>Доставка почтой России оплачивается отдельно.</p>  
</div>

{% endblock %}


{% block content %}

<div class="image"> 	  	
	{% if color == 'blue' %}	  
	<!-- <img class="img33" src="{% static 'products/knives/middle_knife_bee_blue.png' %}" alt="middle_knife_bee_blue"> -->
	<img class="img33" src="{% static 'products/knives/middle_knife_bee_blue2.png' %}" alt="middle_knife_bee_blue2">		
	<img class="img33" src="{% static 'products/knives/all_4_knives.png'%}" alt="all_4_knives">
	<!-- <img class="img33" src="{% static 'products/knives/all_4_knives2.png'%}" alt="all_4_knives2"> -->
	<img class="img33" src="{% static 'products/knives/knives_in_the_background.jpg'%}" alt="knives_in_the_background">
	{% else  %}	 
		{% if color == 'green' %}	 
		<!-- <img class="img33" src="{% static 'products/knives/middle_knife_bee_green.png' %}" alt="middle_knife_bee_green"> -->
		<img class="img33" src="{% static 'products/knives/middle_knife_bee_green2.png' %}" alt="middle_knife_bee_green2">		
		<img class="img33" src="{% static 'products/knives/all_4_knives.png'%}" alt="all_4_knives">
		<!-- <img class="img33" src="{% static 'products/knives/all_4_knives2.png'%}" alt="all_4_knives2"> -->
		<img class="img33" src="{% static 'products/knives/knives_in_the_background.jpg'%}" alt="knives_in_the_background">
		{% else  %}	 
			{% if color == 'orange' %}	 
			<!-- <img class="img33" src="{% static 'products/knives/middle_knife_bee_orange.png' %}" alt="middle_knife_bee_orange"> -->
			<img class="img33" src="{% static 'products/knives/middle_knife_bee_orange2.png' %}" alt="middle_knife_bee_orange2">		
			<img class="img33" src="{% static 'products/knives/all_4_knives.png'%}" alt="all_4_knives">
			<!-- <img class="img33" src="{% static 'products/knives/all_4_knives2.png'%}" alt="all_4_knives2"> -->
			<img class="img33" src="{% static 'products/knives/knives_in_the_background.jpg'%}" alt="knives_in_the_background">
			{% endif %}
		{% endif %}
	{% endif %}
</div>
<div class="contain">	
	<p><a class="btn btn-outline-danger" href="{% url 'middle_knife_bee' %}/creating_an_order?color={{ color }}">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>
	<br>
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/knives">назад</a></p>  
</div>

{% endblock %}
