{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="display-4">Добро пожаловать!</h1>
  
  <p class="lead">Это официальный сайт блогера ХуторянинЪ.</p>
  
</div>

{% endblock %}

{% block content %}
 
<div class="card-deck mb-3 text-center">
  
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Смотреть</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo.png'%}" alt="" width="100%">
		
      </div>
    </div>
	
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Смотреть</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo.png'%}" alt="" width="100%">
		
      </div>
    </div>
	
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Смотреть</h4>
      </div>
      <div class="card-body">
	  
        <img class="mb-2" src="{% static 'logo.png'%}" alt="" width="100%">
		
      </div>
    </div>
	
</div>

{% endblock %}
