{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
  
	<h1>Разработка андроид приложения!</h1>
    <br>
	<p><a class="btn btn-outline-danger" href="#">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
	
	<p>Пока не доступно.</p>
	
    <br>
	<p><a class="btn btn-outline-danger" href="#">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/applications">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

<div class="image"> 	  
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
</div>
  
{% endblock %}


