{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">
	<h1">Категория "Приложения"!</h1>
	<p>Выберайте тип приложения.</p>
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products">назад</a></p>  
</div>

{% endblock %}

{% block content %}

<!------------------------------------>
			
<div class="contain">		  
	<div class="box">	  
		<h2 class="name">Сайт</h2>			
		<a class="btn btn-success buy" href="{% url 'site' %}">Описание</a>		
		<a href="{% url 'site' %}">
			<img class="product" src="{% static 'products/applications/site.jpg'%}" alt="" width="100%">
		</a>
	</div>
	<a class="btn btn-outline-danger" href="{% url 'site' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
	
<!------------------------------------>
	
<div class="contain">
	<div class="box">
		<h2 class="name">Телеграм бот</h2>
		<a class="btn btn-success buy" href="{% url 'tgbot' %}">Описание</a>
		<a href="{% url 'tgbot' %}">
			<img class="product" src="{% static 'products/applications/tgbot.jpg'%}" alt="" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'tgbot' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>
</div>	
	
<!------------------------------------>
	
<div class="contain">
    <div class="box">
		<h2 class="name">ВКонтакте бот</h2>
		<a class="btn btn-success buy" href="{% url 'vkbot' %}">Описание</a>
		<a href="{% url 'vkbot' %}">
			<img class="product" src="{% static 'products/applications/vkbot.jpg'%}" alt="" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'vkbot' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>	
</div>		
	
<!------------------------------------>

<div class="contain">
    <div class="box">
		<h2 class="name">Андроид приложение</h2>
		<a class="btn btn-success buy" href="{% url 'android' %}">Описание</a>
		<a href="{% url 'android' %}">
			<img class="product" src="{% static 'products/applications/android.jpg'%}" alt="" width="100%">
		</a>
    </div>
	<a class="btn btn-outline-danger" href="{% url 'android' %}creating_an_order">ОФОРМИТЬ ЗАКАЗ</a>	
</div>		
	
	
<!-- -->
<div class="contain">
	<div class="box">
		<h2 class="name">Пусто</h2>
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
		<img class="product" src="{% static 'logo3.png'%}" alt="" width="100%">
	</div>
	<button class="btn btn-outline-dark buy" type="button" disabled>ОФОРМИТЬ ЗАКАЗ</button>  	
</div> 
		
<!-- -->
<div class="contain">
	<div class="box">
		<h2 class="name">Пусто</h2>
		<button class="btn btn-outline-dark buy" type="button" disabled>Посмотреть</button>
		<img class="product" src="{% static 'logo3.png'%}" alt="" width="100%">
	</div>
	<button class="btn btn-outline-dark buy" type="button" disabled>ОФОРМИТЬ ЗАКАЗ</button> 	
</div>

{% endblock %}

