{% extends "products/base_products.html" %}
{% load static %}

{% block category %}Приложения{% endblock %}

{% block category_text %}Выберайте тип приложения.{% endblock %}

<!------------------------------------>

{% block name1 %}Сайт{% endblock %}
{% block photo1 %}
<a href="{% url 'site' %}">
	<img class="mb-2" src="{% static 'products/applications/site.jpg'%}" alt="" width="100%">
</a>
{% endblock %}
{% block link1 %}{% url 'site' %}{% endblock %}
{% block order_link1 %}{% url 'site' %}/creating_an_order{% endblock %}

<!------------------------------------>

{% block name2 %}Телеграм бот{% endblock %}
{% block photo2 %}
<a href="{% url 'tgbot' %}">
	<img class="mb-2" src="{% static 'products/applications/tgbot.jpg'%}" alt="" width="100%">
</a>
{% endblock %}
{% block link2 %}{% url 'tgbot' %}{% endblock %}
{% block order_link2 %}{% url 'tgbot' %}/creating_an_order{% endblock %}

<!------------------------------------>

{% block name3 %}Андроид приложение{% endblock %}
{% block photo3 %}
<a href="{% url 'android' %}">
	<img class="mb-2" src="{% static 'products/applications/android.jpg'%}" alt="" width="100%">
</a>
{% endblock %}
{% block link3 %}{% url 'android' %}{% endblock %}
{% block order_link3 %}{% url 'android' %}creating_an_order{% endblock %}

<!------------------------------------>








