{% extends "products/applications/base_applications.html" %}
{% load static %}

{% block handle %}Разработка сайта!{% endblock %}

{% block url1 %}{% url 'site' %}/creating_an_order{% endblock %}

{% block handle_text %}
	<p class="lead">Для примера есть два разных, работающих, адаптивных сайта. Адаптивные - значит сайты подходят для работы на PC и смартфоне, сайт сам подстраивается под устройство. Работающие - значит загружены на хостинг и доступны online. Разные - помимо того что один написан на php, а второй на python, они отличаются внешне и не только расцветкой. </p>  
	<br>  
	<p class="lead">На одном Вы находитесь сейчас. Другой можно увидеть <a class="btn btn-outline-dark" href="https://prizmarket.ru" target="_blank">ЗДЕСЬ</a></p>  
	<p class="lead">Вы можете заказать сайт любого вида, например скинув ссылку сайта наподобие которого хотели бы себе. Стоимость зависит от сложности поставленной задачи.</p>
{% endblock %}

{% block url2 %}{% url 'site' %}/creating_an_order{% endblock %}


{% block logo1 %}{% static 'logo.png' %}{% endblock %}

{% block logo2 %}{% static 'logo2.png' %}{% endblock %}

{% block logo3 %}{% static 'logo3.png' %}{% endblock %}


