{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">  
	<h1>Разработка сайта!</h1>
    <br>
	<p><a class="btn btn-outline-danger" href="{% url 'site' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
	
	<p>Для примера есть два разных, работающих, адаптивных сайта. Адаптивные - значит сайты подходят для работы на PC и смартфоне, сайт сам подстраивается под устройство. Работающие - значит загружены на хостинг и доступны online. Разные - помимо того что один написан на php, а второй на python, они отличаются внешне и не только расцветкой. </p>  
	
	<p>На одном Вы находитесь сейчас. Другой можно увидеть <a class="btn btn-outline-dark" href="https://prizmarket.ru" target="_blank">ЗДЕСЬ</a></p>  
	
	<p>Вы можете заказать сайт любого вида, например скинув ссылку сайта наподобие которого хотели бы себе.</p>

	<p>Стоимость заказа зависит от сложности поставленной задачи.</p>
	
    <br>
	<p><a class="btn btn-outline-danger" href="{% url 'site' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/applications">назад</a></p>
  
</div>

{% endblock %}

{% block content %}
<!--
<div class="image"> 	  
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
</div>
-->
{% endblock %}


