{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">  
	<h1>Разработка сайта!</h1>
    <br>
	<p><a class="btn btn-outline-danger" href="{% url 'site' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
	
	<p>Для примера есть несколько разных, работающих, адаптивных сайта. Адаптивные - значит сайты подходят для работы на компьютере и смартфоне, сайт сам подстраивается под устройство на котором его открыли. Работающие - значит загружены на хостинг и доступны online. Разные - помимо того что один написан на php, а другой на python, а третий на javascript, они отличаются внешне и не только расцветкой. </p>  
	
	<p>На одном Вы находитесь сейчас (это <a href="https://hutoryanin.ru" target="_blank" rel="noopener noreferrer">https://hutoryanin.ru</a>).</p>

	<p> Второй можно увидеть <a class="btn btn-outline-dark" href="https://prizmarket.ru" target="_blank" rel="noopener noreferrer">ЗДЕСЬ</a> (это <a href="https://prizmarket.ru" target="_blank" rel="noopener noreferrer">https://prizmarket.ru</a>).</p>

	<p> Третий можно увидеть <a class="btn btn-outline-danger" href="https://7yanika-rostov.ru" target="_blank" rel="noopener noreferrer">ЗДЕСЬ</a> (это <a href="https://7yanika-rostov.ru" target="_blank" rel="noopener noreferrer">https://7yanika-rostov.ru</a>).</p>

	<p> Ещё один можно увидеть <a class="btn btn-outline-success" href="https://geometrix61.ru" target="_blank" rel="noopener noreferrer">ЗДЕСЬ</a> (это <a href="https://geometrix61.ru" target="_blank" rel="noopener noreferrer">https://geometrix61.ru</a>).</p>  
	
	<p>Вы можете заказать сайт любого вида, либо из выше перечисленных, либо например скинув ссылку сайта наподобие которого хотели бы себе. Желательно иметь хоть какое-то представление будущего сайта, но можно разработать свой собственный, оригинальный.</p>

	<br>
	
	<p>Стоимость заказа зависит от сложности поставленной задачи. </p>

	<p>Начиная от 2000 рублей с простого одностраничного сайта-визитки или лендинг-пейдж, заканчивая полнофункциональным интернет магазином.</p>
	
    <br>
	<p><a class="btn btn-outline-danger" href="{% url 'site' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/applications">назад</a></p>
  
</div>

{% endblock %}

{% block content %}
<!--
<div class="image"> 	  
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
	<img class="img33" src="{% static 'logo3.png' %}" alt="">
</div>
-->
{% endblock %}


