{% extends "products/applications/base_applications.html" %}
{% load static %}

{% block handle %}Разработка телеграм бота!{% endblock %}

{% block url1 %}{% url 'tgbot' %}/creating_an_order{% endblock %}

{% block handle_text %}
	<p class="lead">Для примера есть телеграм бот <a class="btn btn-outline-primary" href="https://t.me/Prizm_market_bot" target="_blank">Prizm_market_bot</a> сделанный для команды <a class="btn btn-dark" href="https://prizmarket.ru" target="_blank">PRIZMarket</a> Он создан для того чтобы показывать имеющиеся актуальные публикации с базы даных, а их сайт получает всю информацию уже от бота.</p>
	
	<p class="lead">Ещё бот может показывать курс криптовалюты PRIZM с <a class="btn btn-outline-success" href="https://coinmarketcap.com/ru/currencies/prizm/" target="_blank">CoinMarketCap</a> имспользуя API методы. Любые существующие API методы любых сайтов можно применить в работе бота, иногда эти возможности платные. Так например CoinMarketCap предлагает большой спектр вариантов методов на платной основе, я использовал только бесплатные, поэтому бот показывает стоимость монеты только в рублях и долларах и с разницей курса по времени в 10 минут. Если будет необходимо можно изменить формат вывода информации, любой каприз за Ваши деньги.</p>
	
	<p class="lead">Так же для примера посмотрите бота <a class="btn btn-outline-primary" href="https://t.me/Zakaz_prizm_bot" target="_blank">Zakaz_prizm_bot</a> он сделан в дополнение к Prizm_market_bot'у для возможности создания тех самых лотов которые потом публикует Prizm_market_bot. Бот принимает заказы от клиентов последовательно запрашивая информацию о фото, описании товара, хештегов и т.д.</p>

	<p class="lead">Тестируйте, смотрите, изучайте, понравится - заказывайте себе бота. Главное определиться с функционалом, что должен он уметь и для чего.</p>
	
	<p class="lead">Стоимость зависит от сложности поставленной задачи.</p>
{% endblock %}

{% block url2 %}{% url 'tgbot' %}/creating_an_order{% endblock %}


{% block logo1 %}{% static 'logo.png' %}{% endblock %}

{% block logo2 %}{% static 'logo2.png' %}{% endblock %}

{% block logo3 %}{% static 'logo3.png' %}{% endblock %}


