{% extends "base.html" %}
{% load static %}

{% block header %}

<div class="header">  

	<h1>Разработка телеграм бота!</h1>
    <br>
	
	<p><a class="btn btn-outline-danger" href="{% url 'tgbot' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
	
	<p>Для примера есть телеграм бот <a class="btn btn-outline-primary" href="https://t.me/Prizm_market_bot" target="_blank">Prizm_market_bot</a> сделанный для команды <a class="btn btn-dark" href="https://prizmarket.ru" target="_blank">PRIZMarket</a> Он создан для того чтобы клиент мог посмотреть имеющиеся на сайте prizmarket.ru публикации c предложениями о покупке (продаже) товаров и услуг за криптовалюту PRIZM. Бот напрямую из базы данных достаёт лоты, проверяет их актуальность (по заданным временным рамкам), если лоты старые, то он их удаляет. Лоты разбиты по категориям для удобства поиска необходимого товара. Заходите, протестируйте бота, ознакомьтесь.</p>
	
	<p>Ещё бот может показывать курс криптовалюты PRIZM с <a class="btn btn-outline-success" href="https://coinmarketcap.com/ru/currencies/prizm/" target="_blank">CoinMarketCap</a> имспользуя API методы этого сайта. Любые существующие API методы любых сайтов можно применить в функционале бота, иногда эти возможности платные. Так например CoinMarketCap предлагает большой выбор методов на платной основе, я использовал безОплатные, поэтому бот показывает стоимость монеты только в рублях и долларах, а вообще можно выводить сравнительные цены любых криптовалют (bitcoin, ethereum, ripple), всё зависит от желания клиента и наличия финансов.</p>
	
	<p>Так же для примера посмотрите бота <a class="btn btn-outline-primary" href="https://t.me/Zakaz_prizm_bot" target="_blank">Zakaz_prizm_bot</a> он сделан в дополнение к Prizm_market_bot'у для возможности создания тех самых лотов которые потом публикует Prizm_market_bot. Этот бот принимает заказы от клиентов последовательно запрашивая информацию о фото, описании товара, хештегов и т.д.</p>

	<p>Тестируйте, смотрите, изучайте, понравится - заказывайте себе бота. Главное определиться с функционалом, что должен он уметь и для чего.</p>
	
	<p>Конечно есть ещё боты, для примера <a class="btn btn-outline-primary" href="https://t.me/hutoryanin_bot" target="_blank">hutoryanin_bot</a> познакомит Вас с имеющимися функциями Telegram Bot API. Я этого бота использую в личных целях, он нужен мне для формирования новых публикаций, записи информации в БД, для изготовления кликабельных ссылок и т.п. Но Вам эти возможности будут не доступны так как в принципе нет в этом надобности. Я его периодически модернизирую, заходите, ознакамливайтесь с ним.</p>
	
	<p>В общем много чего можно делать при помощи телеграм ботов.</p>
	
	<p>Стоимость заказа зависит от сложности поставленной задачи.</p>
	
    <br>
	<p><a class="btn btn-outline-danger" href="{% url 'tgbot' %}/creating_an_order">ОФОРМИТЬ ЗАКАЗ</a></p>
	<br>
  
	<p>Все возникающие вопросы направляйте в <a class="btn btn-outline-warning" href="/support">тех.поддержку</a></p>  
	<p>Вернуться <a class="btn btn-outline-primary" href="/products/applications">назад</a></p>
  
</div>

{% endblock %}

{% block content %}

<div class="image"> 	  
	<img src="{% static 'logo3.png' %}" alt="" width="100%">
	<img src="{% static 'logo3.png' %}" alt="" width="100%">
	<img src="{% static 'logo3.png' %}" alt="" width="100%">
</div>
  
{% endblock %}


